.w-md-editor {
  height: 500px !important;
}

.w-md-editor-content {
  height: calc(100% - 29px) !important;
}

.editor-fullscreen {
  height: 100% !important;
}

.w-md-editor-bar {
  margin-top: -42px !important;
}

.w-md-editor-bar {
  display: none !important;
}

.w-md-editor-fullscreen {
  height: 100% !important;
}

// Media queries

@media screen and (max-width: 650px) {
  .w-md-editor-toolbar {
    height: 50px !important;
  }

  .w-md-editor-content {
    height: calc(100% - 50px) !important;
  }
}
