.w-md-editor {
  height: 500px !important;
  z-index: -50 !important;
}

.w-md-editor-content {
  height: calc(100% - 29px) !important;
}

.editor-fullscreen {
  height: 100% !important;
}

.w-md-editor-bar {
  margin-top: -42px !important;
}

.w-md-editor-bar {
  display: none !important;
}

.w-md-editor-fullscreen {
  height: 100% !important;
}


