.Heading {
  font-family: Ropa Sans;
  font-size: 80px;
  color: black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 
@media screen and (max-width: 1024px) {
  .Backdrop_Rectangle {
    width: 65% !important;
  }
}
@media screen and (max-width: 768px) {
  .Backdrop_Rectangle {
    width: 85% !important;
  }
}
@media screen and (max-width: 640px) {
  .Backdrop_Rectangle {
    width: 95% !important;
  }
  .Button {
    margin-left: 10px;
  }
  button {
    width: 80%;
  }
  .Span {
    padding-right: 5px;
  }
  .Heading {
    font-size: 60px;
  }
} */
