@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  z-index: -10;
}

#root {
  z-index: -10;
}

.DashCard {
  background: rgba(34, 209, 238, 0.2);
}

.font-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.font-500 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.font-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.custom-color {
  color: #989898;
}

.mobile-menu-hidden {
  display: none;
}

.postBox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// Markdown Editor

.main-container {
  height: 500px;
}

.displayNone{
  display: none;
}

.containerMom{
  margin: auto;
  width: 100%;
  box-shadow: none;
  padding: 10px 33px;
}

.containerHeight{
  height: 550px !important;
  overflow: none;
}

// Media queries

@media screen and (max-width: 650px) {
  .w-md-editor-toolbar {
    height: 50px !important;
  }

  .w-md-editor-content {
    height: calc(100% - 50px) !important;
  }
}