@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  z-index: -10;
}

#root {
  z-index: -10;
}

.DashCard {
  background: rgba(34, 209, 238, 0.2);
}

.font-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.font-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.custom-color {
  color: #989898;
}

.mobile-menu-hidden {
  display: none;
}

// Markdown Editor

.main-container {
  // background-color: red;
  height: 500px;
}

.w-md-editor {
  height: 500px !important;
}

.w-md-editor-content {
  height: calc(100% - 29px) !important;
}
.editor-fullscreen {
  height: 100% !important;
  background-color: yellow;
}

.w-md-editor-bar {
  margin-top: -42px !important;
}

.w-md-editor-bar {
  display: none !important;
}

.w-md-editor-fullscreen {
  height: 100% !important;
}
