@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  z-index: -10;
}

#root {
  z-index: -10;
}

.DashCard {
  background: rgba(34, 209, 238, 0.2);
}

.font-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.font-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.custom-color {
  color: #989898;
}

.mobile-menu-hidden {
  display: none;
}
